/.cache
/.env
/.ipynb_checkpoints
/.jupyter
/.virtual_documents
/Agents_with_langroid.ipynb
/Agents_with_phidata.ipynb
/Analysis.ipynb
/CONFIG_LIST.json~
/Development_of_an_Opt_Efficient_Model.ipynb
/ImageDataset
/ImageDataset.zip
/LLMs-from-scratch-main
/Multimodal-RAG-ColPali-Gemini
/Real-Time Vegetation Health.ipynb
/Untitled.ipynb
/Veg_App
/Veg_App.zip
/__pycache__
/cookbook
/dashboard
/flagged
/form.html~
/healthtips.py
/logs
/model2.pt
/model3.pt
/optimized_model.pt
/screenshots
/test.ipynb
/vegtracker.py